body{
  background-color: rgb(237, 237, 237)
}
.delivery__status--grid{
  display: grid;
  grid-template-columns: repeat(3,250px);
  gap: 10px
}


@tailwind base;
@tailwind components;
@tailwind utilities;